certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
fonttools==4.53.1
greenlet==3.0.3
idna==3.7
joblib==1.4.2
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.1
numpy<2.0
obspy==1.4.1
packaging==24.1
pillow==10.4.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
SQLAlchemy==1.4.52
threadpoolctl==3.5.0
urllib3==2.2.2
tensorflow>=2.9.0
